html {
  font-size: 26.6667vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  display: flex;
  font-size: .14rem;
  line-height: .14rem;
  flex-direction: column;
  height: 100vh;
}
#header {
  height: .45rem;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .right {
  width: .45rem;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right a {
  color: #fff;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
}
#main {
  flex: 1;
  position: relative;
}
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row > div a {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: .45rem;
}
#footer .mui-row > div a.active {
  color: #ffa500;
}
#footer .mui-row > div a span {
  display: block;
}
#footer .mui-row > div a i {
  display: block;
}
#footer .mui-row > div a:hover {
  color: #ffa500;
}
#main {
  padding: .1rem;
}
#main #nav a {
  display: block;
}
#main #nav a img {
  width: 100%;
}
#main #banner a {
  display: block;
}
#main #banner a img {
  width: 100%;
}
#main #banner .mui-col-xs-8 a img {
  height: 1.2rem;
}
#main #banner .mui-col-xs-4 a img {
  height: 2.4rem;
}
#main #brand {
  line-height: 0;
}
#main #brand a {
  display: block;
}
#main #brand a img {
  width: 100%;
}
#main #sport,
#main #women,
#main #men {
  padding: 0.1rem;
}
#main #sport a,
#main #women a,
#main #men a {
  display: block;
}
#main #sport a img,
#main #women a img,
#main #men a img {
  width: 100%;
}
